---
import Content from '~/components/widgets/Content.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Button from '~/components/ui/Button.astro';
import Contact from '~/components/widgets/Contact.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Promote Amnion',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero2
    title='Ways to Promote Amnion'
    subtitle='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
    actions={[
      { variant: 'primary', text: 'Make a Donation', href: '#learn-more', icon: 'tabler:square-rounded-arrow-right' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1621452773781-0f992fd1f5cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1626&q=80',
      alt: 'Children telling a story. Long-form Sales Landing Page demo',
    }}
  />

  <Content
    id='clients'
    isAfterContent={true}
  >
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>To potential clients</h3>
      <p class='paragraph mb-5'>
        You can support Amnion and support life by being well-informed about the services we offer so you can encourage
        potential clients to come to our center. Most people know we are here for those women and men facing an
        unplanned pregnancy. We offer free pregnancy tests, ultrasounds, biblical counsel, and helpful resources.
      </p>
      <p class='paragraph mb-5'>
        Did you know we also offer help for those dealing with an abortion decision in their past? Our post-abortion
        healing can help set people free from the shame and guilt.
      </p>
      <p class='paragraph mb-5'>Client Phone: 952-898-4357</p>
      <Button
        href='/help/partner'
        variant='primary'
        >Visit our client website</Button
      >
    </Fragment>
  </Content>

  <Content
    id='schools'
    isAfterContent={true}
  >
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>To your school</h3>
      <p class='paragraph mb-5'>
        “I’m Worth Waiting For!” is Amnion’s fun, interactive presentation that we share with our local high school
        health classes. Our speakers present how to avoid sexual risk and how to have healthy relationships in a dynamic
        way.
      </p>
      <Button
        href='/help/partner'
        variant='primary'
        >Contact us for more information</Button
      >
    </Fragment>
  </Content>

  <Content
    id='church'
    isAfterContent={true}
  >
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>To your church</h3>
      <p class='paragraph mb-5'>
        Vital to our ministry are the partnerships we have with local churches. You can help promote Amnion to your
        congregation in the following ways:
      </p>
      <ul class='list-disc list-inside paragraph-small mb-5'>
        <li>Make sure your Pastor and Youth Pastor are aware of Amnion and our free and confidential services.</li>
        <li>Be a cheerleader in your congregation by promoting our events.</li>
        <li>Bottles for Life is an easy way to promote Amnion and help support our mission. Learn more.</li>
        <li>
          Amnion is on the front lines of evangelism. We look to refer women and men to local churches for ongoing care
          and discipleship. Check out the Making Life Disciples program.
        </li>
        <li>Encourage your church leaders to participate in Sanctity of Human Life Sunday in January.</li>
        <li>Gather a group from your church and commit to praying for Amnion regularly.</li>
        <li>
          Pastors: Be sure to sign up for our Executive Director’s Pastor Briefing to stay informed about Amnion.
          Complete the form to the right.
        </li>
      </ul>
    </Fragment>
    <Fragment slot='image'>
      <Contact
        id='pastor-briefing'
        title='Pastor Briefing Sign Up'
        inputs={[
          {
            type: 'text',
            name: 'name',
            label: 'Name',
          },
          {
            type: 'email',
            name: 'email',
            label: 'Email',
          },
          {
            type: 'text',
            name: 'church',
            label: 'Church',
          },
        ]}
      />
    </Fragment>
  </Content>

  <Content
    id='clients'
    isAfterContent={true}
  >
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>To potential donors</h3>
      <p class='paragraph mb-5'>
        For 30 years Amnion has been faithfully supported by a wonderful group of donors who love life! Perhaps you have
        family or friends who are champions for the unborn and are looking for a life-affirming ministry to support.
        Tell them about Amnion or host an Amnion in a Box event in your home (see below).
      </p>
      <p class='paragraph mb-5'>
        For 30 years Amnion has been faithfully supported by a wonderful group of donors who love life! Perhaps you have
        family or friends who are champions for the unborn and are looking for a life-affirming ministry to support.
        Tell them about Amnion or host an Amnion in a Box event in your home (see below).
      </p>
    </Fragment>
  </Content>

  <Content
    id='clients'
    isAfterContent={true}
  >
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>Amnion in a Box</h3>
      <p class='paragraph mb-5'>
        A fun and inspiring way to promote Amnion is by hosting an <strong>Amnion in a Box</strong> event! Everything you
        need for a successful event is in this box. The goal is to promote the sanctify of life and to broaden the base of
        support for the ministry of Amnion Pregnancy Center.
      </p>
      <p class='paragraph mb-5'>
        For 30 years Amnion has been faithfully supported by a wonderful group of donors who love life! Perhaps you have
        family or friends who are champions for the unborn and are looking for a life-affirming ministry to support.
        Tell them about Amnion or host an Amnion in a Box event in your home (see below).
      </p>
      <Button
        href='/help/partner'
        variant='primary'
        >Contact us for more information</Button
      >
    </Fragment>
  </Content>
</Layout>
