---
import Content from '~/components/widgets/Content.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Layout from '~/layouts/PageLayout.astro';
import ItemGrid from '~/components/ui/ItemGrid.astro';
import { getAboutContent, getEmployees } from '~/sanity/sanity';
import { toHTML } from '@portabletext/to-html';
import { PortableText } from 'astro-portabletext';
import EmployeeList from '~/components/employee/EmployeeList.astro';

const employees = await getEmployees();
const donorSupportEmployees = employees.filter((emp) => emp.department == 'donor-support');
const patientClientEmployees = employees.filter((emp) => emp.department == 'patient-client');
const aboutContent = await getAboutContent();
console.log(aboutContent.missionList);

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    title={aboutContent.heroHeading}
    subtitle={toHTML(aboutContent.heroContent)}
    actions={[
      { variant: 'primary', text: 'Learn more', href: '#mission-vision', icon: 'tabler:square-rounded-arrow-down' },
      { text: 'Visit client website', href: 'https://www.amnioncpc.org/', variant: 'secondary-blue' },
    ]}
    image={{
      src: aboutContent.heroImage.src,
      alt: aboutContent.heroImage.alt,
    }}
  />

  <!-- <Hero2
    title='About Amnion'
    subtitle='Help Offer Hope is the donor development and fundraising arm of Amnion Women’s Center. Amnion is a 501(c)(3) non-profit organization which provides hope and help to those facing unplanned pregnancies.'
    actions={[
      { variant: 'primary', text: 'Learn more', href: '#learn-more', icon: 'tabler:square-rounded-arrow-right' },
      { text: 'Visit client website', href: '#', variant: 'secondary-blue' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1621452773781-0f992fd1f5cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1626&q=80',
      alt: 'Children telling a story. Long-form Sales Landing Page demo',
    }}
  /> -->

  <Content
    id='mission-vision'
    isDark={true}
  >
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>{aboutContent.missionHeading}</h3>
      <div class='paragraph'>
        <PortableText value={aboutContent.missionContent} />
      </div>
    </Fragment>
    <Fragment slot='image'>
      <h3 class='heading text-2xl'>{aboutContent.missionSubheading}</h3>
      <ItemGrid
        items={[
          ...aboutContent.missionList.map((item) => {
            return {
              title: item.heading,
              description: toHTML(item.content),
              icon: item.icon,
            };
          }),
        ]}
        defaultIcon='tabler:check'
        classes={{
          container: `gap-y-4 md:gap-y-8`,
          panel: 'max-w-none',
          title: 'text-lg font-medium leading-6 dark:text-white ml-2 rtl:ml-0 rtl:mr-2',
          description: 'text-primary dark:text-white ml-2 rtl:ml-0 rtl:mr-2',
          icon: 'flex h-7 w-7 items-center justify-center rounded-full bg-primary-2 text-gray-50 p-1',
          action: 'text-lg font-medium leading-6 dark:text-white ml-2 rtl:ml-0 rtl:mr-2',
        }}
      />
    </Fragment>
  </Content>

  <Content
    isReversed={true}
    image={{
      src: aboutContent.servicesImage.src,
      alt: aboutContent.servicesImage.alt,
    }}
  >
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>{aboutContent.servicesHeading}</h3>
      <div class='paragraph'>
        <PortableText value={aboutContent.servicesContent} />
      </div>
    </Fragment>
  </Content>

  <Content
    image={{ src: aboutContent.historyImage.src, alt: aboutContent.historyImage.alt }}
    imageCaption={aboutContent.historyImage.caption}
  >
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>{aboutContent.historyHeading}</h3>
      <div class='paragraph'>
        <PortableText value={aboutContent.historyContent} />
      </div>
    </Fragment>
    <Fragment slot='bg'>
      <div class='absolute inset-0 bg-muted'></div>
    </Fragment>
  </Content>

  <Content>
    <Fragment slot='content'>
      <h2 class='heading text-4xl mb-8'>Our Team</h2>
      <div class='mb-12'>
        <EmployeeList
          title='Donor and Support Services'
          items={donorSupportEmployees}
        />
      </div>
      <div>
        <EmployeeList
          title='Patient and Client Services'
          items={patientClientEmployees}
        />
      </div>
    </Fragment>
  </Content>
</Layout>
