---
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Contact from '~/components/widgets/Contact.astro';
import Button from '~/components/ui/Button.astro';
import BottlesImage from '~/assets/images/babybottles3.jpg';
import RecyclingImage from '~/assets/images/recycling.jpg';

import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Ways to Help',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Content isAfterContent={true}>
    <Fragment slot='content'>
      <h1
        class='text-center heading text-5xl intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter'
      >
        Ways to Help
      </h1>
      <Features2
        columns={4}
        classes={{ container: '!pb-0' }}
        items={[
          {
            title: 'Pray',
            icon: 'mdi:hands-pray',
            href: '#pray',
          },
          {
            title: 'Bottles for Life',
            icon: 'lucide-lab:bottle-baby',
            href: '#bottles',
          },
          {
            title: 'Partner',
            icon: 'mdi:partnership',
            href: '#partner',
          },
          {
            title: 'Promote',
            icon: 'mdi:bullhorn',
            href: '#promote',
          },
          {
            title: 'Attend an Event',
            icon: 'mdi:event',
            href: '#participate',
          },
          {
            title: 'Recycling',
            icon: 'mdi:recycle',
            href: '#recycle',
          },
          {
            title: 'Volunteer',
            icon: 'mdi:volunteer',
            href: '#volunteer',
          },
        ]}
      />
    </Fragment>
  </Content>

  <!-- <Hero2
    title='Ways to Help'
    subtitle='Help Offer Hope is the donor development and fundraising arm of Amnion Women’s Center. Amnion is a 501(c)(3) non-profit organization which provides hope and help to those facing unplanned pregnancies.'
  >
    <Fragment slot='image'>
      <Features2
        columns={3}
        items={[
          {
            title: 'Bottles for Life',
            icon: 'mdi:hands-pray',
            href: '#bottles',
          },
          {
            title: 'Prayer',
            icon: 'mdi:hands-pray',
            href: '#pray',
          },
          {
            title: 'Partner',
            icon: 'mdi:partnership',
            href: '#partner',
          },
          {
            title: 'Promote',
            icon: 'mdi:bullhorn',
            href: '#promote',
          },
          {
            title: 'Participate',
            icon: 'mdi:event',
            href: '#participate',
          },
          {
            title: 'Recycling',
            icon: 'mdi:recycle',
            href: '#recycle',
          },
          {
            title: 'Volunteer',
            icon: 'mdi:volunteer',
            href: '#volunteer',
          },
        ]}
      />
    </Fragment>
  </Hero2> -->

  <Content
    id='pray'
    isDark={true}
  >
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>Pray</h3>
      <p class='paragraph mb-5'>
        James 5:16 declares, “The effective prayer of a righteous person can accomplish much.”
      </p>
      <p class='paragraph mb-5'>
        Protecting human life involves an intense and escalating spiritual battle. Pray that the women and men facing
        unplanned pregnancies will find their way to our center, especially those considering abortion. Pray for us to
        have compassion and wisdom. Continually pray for Amnion’s clients, staff, and volunteers.
      </p>
      <p class='paragraph'>
        Consider joining Amnion’s Prayer Team. You will receive special prayer requests and praise reports by email. No
        personal client information will be shared.
      </p>
    </Fragment>
  </Content>

  <Content id='bottles'>
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>Bottles for Life</h3>
      <p class='paragraph mb-5'>
        The Bottles For Life Campaign is a unique and easy way to involve members of your congregation to help support
        Amnion’s ministry by filling a baby bottle with cash, checks, or coins.
      </p>
      <Button
        variant='primary'
        href='/help/bottles-for-life'
        >Learn more</Button
      >
    </Fragment>
    <Fragment slot='image'>
      <img
        class='w-full h-auto rounded-lg'
        src={BottlesImage.src}
      />
    </Fragment>
  </Content>

  <Content
    id='partner'
    isReversed={true}
  >
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>Partner</h3>
      <p class='paragraph mb-5'>
        We rely on the financial partnership with individuals, families, churches, and businesses. You can help us
        spread hope by giving a one-time donation or a monthly pledge, or by sponsoring one of our events.
      </p>
      <p class='paragraph mb-5'>
        “I give thanks to my God for every remembrance of you, always praying with joy for all of you in my every
        prayer, because of your partnership in the gospel from the first day until now” (Philippians 1:3-5).
      </p>
      <Button
        href='/help/partner'
        variant='primary'
        >Become a partner</Button
      >
    </Fragment>
    <Fragment slot='bg'>
      <div class='absolute inset-0 bg-muted'></div>
    </Fragment>
  </Content>

  <Content
    id='promote'
    isDark={true}
  >
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>Promote</h3>
      <p class='paragraph mb-5'>
        Help Amnion spread hope by promoting our ministry within your family, church and circle of friends. Free
        promotional resources are available on our Resources page.
      </p>
      <p class='paragraph mb-5'>
        We are also looking for Amnion Ambassadors who will promote our abstinence program to local schools, youth
        groups and homeschool groups.
      </p>
      <Button
        href='/help/promote'
        variant='primary'
        >Become a promoter</Button
      >
    </Fragment>
  </Content>

  <Content id='participate'>
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>Attend an Event</h3>
      <p class='paragraph mb-5'>
        Participate in one or more of Amnion’s annual events and enlist family and friends to join you.
      </p>
      <ul class='list-disc list-inside paragraph-small mb-5'>
        <li>Sanctity of Human Life Sunday in January</li>
        <li>Walk for Life – the first Saturday after Memorial Day</li>
        <li>Gala and Auction – late October</li>
      </ul>
      <Button
        href='/events'
        variant='primary'
        >Learn more</Button
      >
    </Fragment>
  </Content>

  <Content id='recycle'>
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>Recycling for Life</h3>
      <p class='paragraph mb-5'>
        One way to help raise money for Amnion is to give us your cans, electrical cords, aluminum, copper, laptops, and
        Christmas lights. Our Coordinator, Dave Bergstedt, will pick it up from Amnion and exchange it all for cash.
        Since Dave started this project, he’s raised over $38,000 for Amnion! Call 952-898-4350 for details.
      </p>
    </Fragment>
    <Fragment slot='image'>
      <img
        class='w-full h-auto rounded-lg'
        src={RecyclingImage.src}
      />
    </Fragment>
    <Fragment slot='bg'>
      <div class='absolute inset-0 bg-muted'></div>
    </Fragment>
  </Content>

  <Contact
    id='volunteer'
    title='Volunteer'
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'tel',
        name: 'phone',
        label: 'Phone',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
      {
        type: 'fieldset',
        name: 'areas-of-interest',
        label: 'Areas of Interest (choose all that apply):',
        inputs: [
          {
            type: 'checkbox',
            name: 'abstinence-speaking',
            label: 'Abstinence Speaking',
          },
          {
            type: 'checkbox',
            name: 'admin-data-entry',
            label: 'Administration & Data Entry',
          },
          {
            type: 'checkbox',
            name: 'sponsors-auction',
            label: 'Enlisting Sponsors or Auction Items',
          },
          {
            type: 'checkbox',
            name: 'events-projects',
            label: 'Events & Special Projects',
          },
          {
            type: 'checkbox',
            name: 'repair-renovation',
            label: 'Repair & Renovation',
          },
        ],
      },
    ]}
    disclaimer={{
      label: 'I understand that I may need to complete an application and pass a background check.',
    }}
  />
</Layout>
