---
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Button from '~/components/ui/Button.astro';

import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

import historyImage from '~/assets/images/Amnions-first-board-1991.webp';
import ItemGrid from '~/components/ui/ItemGrid.astro';

const metadata = {
  title: 'Ways to Help',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    title='Ways to Help'
    subtitle='Help Offer Hope is the donor development and fundraising arm of Amnion Women’s Center. Amnion is a 501(c)(3) non-profit organization which provides hope and help to those facing unplanned pregnancies.'
  >
    <Fragment slot='image'>
      <Features2
        columns={3}
        items={[
          {
            title: 'Prayer',
            icon: 'mdi:hands-pray',
            href: '#pray',
          },
          {
            title: 'Partner',
            icon: 'mdi:partnership',
            href: '#partner',
          },
          {
            title: 'Promote',
            icon: 'mdi:bullhorn',
            href: '#promote',
          },
          {
            title: 'Participate',
            icon: 'mdi:event',
            href: '#participate',
          },
          {
            title: 'Recycling',
            icon: 'mdi:recycle',
            href: '#recycle',
          },
          {
            title: 'Volunteer',
            icon: 'mdi:volunteer',
            href: '#volunteer',
          },
        ]}
      />
    </Fragment>
  </Hero2>

  <Content
    id='pray'
    isAfterContent={true}
  >
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>Pray</h3>
      <p class='paragraph mb-5'>
        James 5:16 declares, “The effective prayer of a righteous person can accomplish much.”
      </p>
      <p class='paragraph mb-5'>
        Protecting human life involves an intense and escalating spiritual battle. Pray that the women and men facing
        unplanned pregnancies will find their way to our center, especially those considering abortion. Pray for us to
        have compassion and wisdom. Continually pray for Amnion’s clients, staff, and volunteers.
      </p>
      <p class='paragraph'>
        Consider joining Amnion’s Prayer Team. You will receive special prayer requests and praise reports by email. No
        personal client information will be shared.
      </p>
    </Fragment>
  </Content>

  <Content
    id='partner'
    isReversed={true}
    isAfterContent={true}
  >
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>Partner</h3>
      <p class='paragraph mb-5'>
        We rely on the financial partnership with individuals, families, churches, and businesses. You can help us
        spread hope by giving a one-time donation or a monthly pledge, or by sponsoring one of our events.
      </p>
      <p class='paragraph mb-5'>
        “I give thanks to my God for every remembrance of you, always praying with joy for all of you in my every
        prayer, because of your partnership in the gospel from the first day until now” (Philippians 1:3-5).
      </p>
      <Button
        href='/help/partner'
        variant='primary'
        >Become a partner</Button
      >
    </Fragment>
  </Content>

  <Content
    id='promote'
    isAfterContent={true}
  >
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>Promote</h3>
      <p class='paragraph mb-5'>
        Help Amnion spread hope by promoting our ministry within your family, church and circle of friends. Free
        promotional resources are available on our Resources page.
      </p>
      <p class='paragraph mb-5'>
        We are also looking for Amnion Ambassadors who will promote our abstinence program to local schools, youth
        groups and homeschool groups.
      </p>
      <Button
        href='/help/partner'
        variant='primary'
        >Become a promoter</Button
      >
    </Fragment>
  </Content>

  <Content
    placeListInColumnTwo={true}
    items={[
      {
        title: 'The Glory of God',
        description:
          'The primary focus of Amnion’s ministry is to glorify God. Board members, staff and volunteers endeavor to model Christ in all aspect of their lives.',
        icon: 'tabler:wand',
      },
      {
        title: 'The Word of God',
        description:
          'The Bible is God’s inerrant Word and teaches that salvation is attained by faith alone, in Christ alone. God’s Word is sufficient for teaching, reproof, correction and for training in righteousness. God’s Word teaches that man is created in God’s image and likeness and for His glory; therefore, Amnion’s mission is to uphold the sanctity of human life.',
        icon: 'tabler:settings',
      },
      {
        title: 'The Hope of God',
        description:
          'Amnion will assist anyone facing an unplanned pregnancy, seeking post-abortion healing, and considering sexual purity issues. All counsel is given within a Biblical perspective, which is consistent with God’s design for holy living.',
        icon: 'tabler:presentation',
      },
    ]}
  >
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>Mission and Vision</h3>
      <p class='paragraph mb-5'>
        Amnion’s <strong>mission</strong> is to share the gospel of Jesus Christ and to protect and advocate for the sanctity
        of all human life, born and unborn, through the provision of abortion alternative services that empower mothers to
        choose life.
      </p>
      <p class='paragraph'>
        The <strong>vision</strong> of Amnion is to stop abortion by educating all people on the true value of a human life,
        by using God’s word to show them the love of Christ, and by providing care and support to women and their families.
      </p>
    </Fragment>
    <Fragment slot='contentTwo'>
      <h3 class='heading text-2xl'>We value:</h3>
    </Fragment>
  </Content>

  <Content
    isReversed={true}
    image={{
      src: 'https://images.unsplash.com/photo-1621452773781-0f992fd1f5cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1626&q=80',
      alt: 'image',
    }}
  >
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>Our services</h3>
      <p class='paragraph mb-5'>
        Amnion provides free and confidential pregnancy and post-abortion services to those in need. We do not perform
        or refer for abortions.
      </p>
      <ul class='list-disc list-inside paragraph-small'>
        <li>Pregnancy Tests</li>
        <li>Ultrasounds</li>
        <li>Abortion Pill Rescue/Reversal</li>
        <li>Prenatal Education</li>
        <li>Abortion Risk Education</li>
        <li>Relationship Classes</li>
        <li>Fatherhood Education</li>
        <li>Evangelism &amp; Bible Studies</li>
        <li>Maternity &amp; Baby Supplies</li>
        <li>Post-Abortion Healing</li>
      </ul>
    </Fragment>
    <Fragment slot='image'> </Fragment>
  </Content>

  <Content
    image={{ src: historyImage, alt: 'history' }}
    imageCaption='Amnion’s first board with founder Janis Lamont (in the dark coat).'
  >
    <Fragment slot='content'>
      <h3 class='heading text-4xl'>Our history</h3>
      <p class='paragraph mb-5'>
        Since 1991 Amnion Women’s Center has provided Christ-centered compassionate and free services to women and men
        who are facing an unplanned pregnancy in their lives.
      </p>
      <p class='paragraph mb-5'>
        The word amnion is the Greek term for “little lamb” named because lambs are born in a protective sac called the
        amnion. Amnion Pregnancy Center provides a protective, safe haven for the expectant mom, dad, and baby
        throughout their unplanned pregnancy and after the birth of the baby.
      </p>
      <p class='paragraph mb-5'>
        Amnion is affiliated with Care Net who supports the largest network of pregnancy centers in North America.
      </p>
      <p class='paragraph mb-5'>
        Psalm 102:18 declares, “Let this be written for a future generation, that a people not yet created may praise
        the Lord.”
      </p>
    </Fragment>
  </Content>

  <!-- Stats Widget ****************** -->

  <Stats
    title='Statistics about us'
    stats={[
      { title: 'Offices', amount: '4' },
      { title: 'Employees', amount: '248' },
      { title: 'Templates', amount: '12' },
      { title: 'Awards', amount: '24' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title='Our templates'
    subtitle='Etiam scelerisque, enim eget vestibulum luctus, nibh mauris blandit nulla, nec vestibulum risus justo ut enim. Praesent lacinia diam et ante imperdiet euismod.'
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Educational',
        description:
          'Morbi faucibus luctus quam, sit amet aliquet felis tempor id. Cras augue massa, ornare quis dignissim a, molestie vel nulla.',
        icon: 'tabler:template',
      },
      {
        title: 'Interior Design',
        description:
          'Vivamus porttitor, tortor convallis aliquam pretium, turpis enim consectetur elit, vitae egestas purus erat ac nunc nulla.',
        icon: 'tabler:template',
      },
      {
        title: 'Photography',
        description:
          'Duis sed lectus in nisl vehicula porttitor eget quis odio. Aliquam erat volutpat. Nulla eleifend nulla id sem fermentum.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'E-commerce',
        description:
          'Rutrum non odio at vehicula. Proin ipsum justo, dignissim in vehicula sit amet, dignissim id quam. Sed ac tincidunt sapien.',
        icon: 'tabler:template',
      },
      {
        title: 'Blog',
        description:
          'Nullam efficitur volutpat sem sed fringilla. Suspendisse et enim eu orci volutpat laoreet ac vitae libero.',
        icon: 'tabler:template',
      },
      {
        title: 'Business',
        description:
          'Morbi et elit finibus, facilisis justo ut, pharetra ipsum. Donec efficitur, ipsum quis congue luctus, mauris magna.',
        icon: 'tabler:template',
      },
      {
        title: 'Branding',
        description:
          'Suspendisse vitae nisi eget tortor luctus maximus sed non lectus. Cras malesuada pretium placerat. Nullam venenatis dolor a ante rhoncus.',
        icon: 'tabler:template',
      },
      {
        title: 'Medical',
        description:
          'Vestibulum malesuada lacus id nibh posuere feugiat. Nam volutpat nulla a felis ultrices, id suscipit mauris congue. In hac habitasse platea dictumst.',
        icon: 'tabler:template',
      },
      {
        title: 'Fashion Design',
        description:
          'Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title='Our values'
    subtitle='Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus. Nulla facilisi. Vestibulum malesuada lacus.'
    items={[
      {
        title: 'Customer-centric approach',
        description:
          'Donec id nibh neque. Quisque et fermentum tortor. Fusce vitae dolor a mauris dignissim commodo. Ut eleifend luctus condimentum.',
      },
      {
        title: 'Constant Improvement',
        description:
          'Phasellus laoreet fermentum venenatis. Vivamus dapibus pulvinar arcu eget mattis. Fusce eget mauris leo.',
      },
      {
        title: 'Ethical Practices',
        description:
          'Vestibulum imperdiet libero et lectus molestie, et maximus augue porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title='Achievements'
    subtitle='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla.'
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Global reach',
        description: 'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description:
          'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Awards and recognition as industry experts',
        description:
          'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title='Our locations'
    tagline='Find us'
    columns={4}
    items={[
      {
        title: 'EE.UU',
        description: '1234 Lorem Ipsum St, 12345, Miami',
      },
      {
        title: 'Spain',
        description: '5678 Lorem Ipsum St, 56789, Madrid',
      },
      {
        title: 'Australia',
        description: '9012 Lorem Ipsum St, 90123, Sydney',
      },
      {
        title: 'Brazil',
        description: '3456 Lorem Ipsum St, 34567, São Paulo',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title='Technical Support'
    tagline='Contact us'
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.',
        icon: 'tabler:messages',
      },
      {
        title: 'Call us',
        description:
          'Mauris faucibus finibus orci, in posuere elit viverra non. In hac habitasse platea dictumst. Cras lobortis metus a hendrerit congue.',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
