---
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';
import Button from '~/components/ui/Button.astro';
import ResourcesWidget from '~/components/widgets/Resources.astro';

import { getResources } from '~/utils/sanity';

const metadata = {
  title: 'Printed and Downloadable Resources',
};

const resources = await getResources();
console.log(resources[0].images);
const printResources = resources.filter((resource) => resource.type == 'print');
const digitalResources = resources.filter((resource) => resource.type == 'download');
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Content classes={{ container: '!pt-8 !pb-0' }}>
    <Fragment slot='content'>
      <h1 class='heading text-4xl md:text-5xl leading-tighter'>Printed and Downloadable Resources</h1>
      <Button variant='primary'>View our media channel</Button>
    </Fragment>
  </Content>

  <Content isAfterContent={true}>
    <Fragment slot='content'>
      <p class='text-secondary font-bold mb-2'>Featured</p>
      <h2 class='heading text-4xl'>Sanctity of Human Life Sunday</h2>
      <p class='paragraph'>
        These bulletin inserts and posters are available for your congregation at no cost to you. Call us at
        952-898-4350.
      </p>
    </Fragment>
  </Content>

  <ResourcesWidget
    isAfterContent={true}
    title='Publications'
    subtitle="All our publications are free. <a href='mail:'>Email Michele</a> or call us at <a href='tel:952-898-4350'>952-898-4350</a> to place your order."
    items={printResources}
  />

  <ResourcesWidget
    isAfterContent={true}
    title='Digital'
    subtitle='Downloadable resources for use on social media, slide shows, and other digital promtions.'
    items={digitalResources}
  />

  <Content isAfterContent={true}>
    <Fragment slot='content'>
      <h2 class='heading text-4xl'>Featured Videos</h2>
      <p class='paragraph'>You can find more videos on our <a>media channel</a>.</p>
    </Fragment>
  </Content>

  <Content isAfterContent={true}>
    <Fragment slot='content'>
      <h2 class='heading text-4xl'>More pro-life resources</h2>
      <div class='mt-8 flex flex-wrap gap-2'>
        {
          ['Equals Rights Institute', 'Passion Life', 'Making Life Disciples', "Heritage House '76"].map((items) => (
            <div class='flex-grow flex-shrink basis-[400px] bg-primary text-white font-bold flex items-center justify-center min-h-24 rounded-md'>
              <p>{items}</p>
            </div>
          ))
        }
      </div>
    </Fragment>
  </Content>
</Layout>
