---
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';
import Button from '~/components/ui/Button.astro';
import ResourcesWidget from '~/components/widgets/Resources.astro';

import { getResourcesPage } from '~/sanity/pages';
import { getResources } from '~/sanity/sanity';
import Brands from '~/components/widgets/Brands.astro';

const page = await getResourcesPage();
console.log(page.heroButtons);

const metadata = {
  title: page.MetaTitle,
};

const resources = await getResources();
const printResources = resources.filter((resource) => resource.type == 'print');
const digitalResources = resources.filter((resource) => resource.type == 'download');
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Content classes={{ container: '!pt-8 !pb-0' }}>
    <Fragment slot='content'>
      <h1 class='heading text-4xl md:text-5xl leading-tighter'>{page.heroHeading}</h1>
      {
        page.heroButtons && (
          <div class='flex gap-4'>
            {page.heroButtons.map((button, index) => (
              <Button
                variant={index == 0 ? 'primary' : 'secondary'}
                href={button.url}
                target={button.target}
              >
                {button.text}
              </Button>
            ))}
          </div>
        )
      }
    </Fragment>
  </Content>

  <ResourcesWidget
    tagline='Featured'
    title={page.featuredCollection.title}
    subtitle={page.featuredCollection.description}
    items={page.featuredCollection.resources}
  >
    <Fragment slot='bg'>
      <div class='absolute inset-0 bg-muted dark:bg-transparent'></div>
    </Fragment>
  </ResourcesWidget>

  <ResourcesWidget
    isDark={true}
    title={page.printsHeading}
    subtitle={page.printsContent}
    items={printResources}
  />

  <ResourcesWidget
    title={page.downloadsHeading}
    subtitle={page.downloadsContent}
    items={digitalResources}
  />

  <Content>
    <Fragment slot='content'>
      <h2 class='heading text-4xl'>Featured Videos</h2>
      <p class='paragraph'>You can find more videos on our <a>media channel</a>.</p>
    </Fragment>
    <Fragment slot='bg'>
      <div class='absolute inset-0 bg-muted dark:bg-transparent'></div>
    </Fragment>
  </Content>

  <Content>
    <Fragment slot='content'>
      <h2 class='heading text-4xl text-center'>More pro-life resources</h2>
      <Brands
        classes={{ container: '!pt-0' }}
        images={page.externalResources.map((resource) => {
          return { src: resource.image, alt: resource.name, href: resource.link };
        })}
      />
    </Fragment>
  </Content>
</Layout>
